<!DOCTYPE html>
<html lang='en' dir='ltr'>
    <head>
        <!--Meta-->
        <meta charset='utf-8'>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- This meta is required to ensure when viewing a website on 
        a mobile device it appears correctly and in a more readable manor -->
        
        <title>RGSW Houses - <%= pageTitle %></title>
        
        <!--Stylesheets -->
        <link rel='stylesheet' href='/app.css' type='text/css'>
        <link rel='stylesheet' href='/customBootstrap.css' type='text/css'>
        
        <!--Bootstrap 4 Content Delivery Network (CDN)-->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <!--Fontawsome CDN-->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
        
        
    </head>
    <body>