<% include partials/header %>
<% include partials/navbar %>


<div class='container-fluid paddingFix'>
    
    <h1 class='h1-responsive'>Events</h1>

    <div class='row' style='display: flex; flex-wrap: wrap;'>
        
        <% events.forEach(function(event){ %>

        <div class='col-md-3 col-sm-6'>
            <div class='card mb-4'>
                <div class='card-body text-center'>
                    
                    <h4 class='card-title'><%= event.name %></h4>
                    
                    <p class='card-text'>Date - <%= event.date %></p>
                    <p class='card-text'>Maximum Points - <%= event.maxPoints %></p>
                    <p class='card-text'>Maximum Players - <%= event.maxPlayers %></p>
                </div>

            </div>
        </div>

        
        <% }); %>
    </div>

    
    <div id='newEventBtn'>
        <button id="modalActivate" type="button" class="btn btn-lg btn-rgsgreen" data-toggle="modal"data-target="#newEventModal">Add new event</button>
        <!--<a href='/events/new'>New Event</a>-->
    </div>

</div>

<!--new event modal-->


<div class='modal fade right' id='newEventModal' tabindex='-1' role='dialog' aria-labeledby='modalTitle'
aria-hidden='true'>
    
    <div class='modal-dialog' role='document'>
        <div class='modal-content'>
            <div class='modal-header'>
                <h5 class='modal-title' id='modalTitle'>Add new event</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
            </div>
            
            <div class='modal-body mx-3'>
                <form action='/events' method='POST' id='newEventForm'>
                    <div class='md-form mb-5'>
                        <input type='text' id='evtName' name='name' class='form-control'>
                        <label for='evtName'>New Event Name</label>
                    </div>
                    
                    <div class='md-form mb-5'>
                        <input type='date' id='evtDate' name='date' class='form-control' placeholder='DD/MM/YYYY'>
                        <label for='evtDate'>Event Date</label>
                    </div>
                    
                    <div class='md-form mb-5'>
                        <input type="number" id="evtNumPlayers" name='maxPlayers' class="form-control">
                        <label for="evtNumPlayers">Event Maximum Players</label>
                    </div>
                    
                    <div class='md-form mb-5'>
                        <input type="number" id="evtMaxPoints" name='maxPoints' class="form-control">
                        <label for="evtMaxPoints">Event Maximum Available Points</label>
                    </div>
                    
                    <!--<div class='md-form'>-->
                    <!--    <div class="custom-control custom-radio custom-control-inline">-->
                    <!--        <input type="radio" class="form-control custom-control-input" id="male" name="evtGender">-->
                    <!--        <label class="custom-control-label" for="male">Male</label>-->
                    <!--    </div>-->
                        
                    <!--    <div class='custom-control custom-radio custom-control-inline'>-->
                    <!--        <input type='radio' class='form-control custom-control-input' id='female' name='evtGender'>-->
                    <!--        <label class='custom-control-label' for='female'>Female</label>-->
                    <!--    </div>-->
                    <!--    <div class='custom-control custom-radio custom-control-inline'>-->
                    <!--        <input type='radio' class='form-control custom-control-input' id='mixed' name='evtGender'>-->
                    <!--        <label class='custom-control-label' for='mixed'>Mixed</label>-->
                    <!--    </div>-->
                    <!--</div>-->
                </form>

            </div>
            
            <div class='modal-footer'>
                <button type='button' class='btn btn-danger' data-dismiss='modal'>Close</button>
                <button type='submit' form='newEventForm' value= 'Submit' class='btn btn-success'>Add new event</button>
            </div>
        </div>
    </div>
    
</div>

<% include partials/footer %>