<% include partials/header %>

<h1><%= event.name %></h1>

<ul>
    <li><%= event.date %></li>
    <li><%= event.maxPlayers %></li>
    <li><%= event.maxPoints %></li>
</ul>


<% include partials/footer %>

<!--name: req.body.name,-->
<!--date: req.body.date,-->
<!--maxPlayers: req.body.maxPlayers,-->
<!--maxPoints: req.body.maxPoints-->