<% include partials/header %>
<% include partials/navbar %>


<div class='container-fluid paddingFix'>
    
    <h1 class='h1-responsive'>Events</h1>

    <div id='newEventBtn'>
        <button id="modalActivate" type="button" class="btn btn-lg btn-rgsgreen" data-toggle="modal"
        data-target="#newEventModal">
            Add new event
        </button>
    </div>

</div>

<div class='modal fade right' id='newEventModal' tabindex='-1' role='dialog' aria-labeledby='modalTitle'
aria-hidden='true'>
    
    <div class='modal-dialog' role='document'>
        <div class='modal-content'>
            <div class='modal-header'>
                <h5 class='modal-title' id='modalTitle'>Add new event</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
            </div>
            
            <div class='modal-body mx-3'>
                <div class='md-form mb-5'>
                    <input type='text' id='evtName' class='form-control'>
                    <label for='evtName'>New Event Name</label>
                </div>
                
                <div class='md-form mb-5'>
                    <input type='date' id='evtDate' class='form-control'>
                    <!--<label for='evtDate'>Event Date</label>-->
                </div>
                
                <div class='md-form mb-5'>
                    <input type="number" id="evtNumPlayers" class="form-control">
                    <label for="evtNumPlayers">Event Maximum Players</label>
                </div>
                
                <div class='md-form mb-5'>
                    <input type="number" id="evtMaxPoints" class="form-control">
                    <label for="evtMaxPoints">Event Maximum Available Points</label>
                </div>
                
                <div class='md-form mb-5'>
                    <div class="custom-control custom-radio">
                        <input type="radio" class="form-control custom-control-input" id="male" name="evtGender">
                        <label class="custom-control-label" for="male">Male</label>
                    </div>
                    
                    <div class='custom-control custom-radio'>
                        <input type='radio' class='form-control custom-control-input' id='female' name='evtGender'>
                        <label class='custom-control-label' for='female'>Female</label>
                    </div>
                </div>
            </div>
            
            <div class='modal-footer'>
                <button type='button' class='btn btn-danger' data-dismiss='modal'>Close</button>
                <button type='button' class='btn btn-success'>Add new event</button>
            </div>
        </div>
    </div>
    
</div>

<% include partials/footer %>