<% include partials/header %>
<% include partials/navbar %>

<!--<div class='container-fluid'>-->
<!--    <% include partials/default %>-->
<!--</div>-->
<div class='container-fluid'>
    <h1 class='h1-responsive'>Upcoming Events</h1>
</div>


<% include partials/footer %>