<% include partials/header %>
<% include partials/navbar %>


<div class='container-fluid'>
    <h1 class='h1-responsive'>Upcoming Events</h1>
    
    <a id='newEventBtn' class='btn btn-lg btn-rgsgreen' href='/events/new'>Add new event</a>
    
    
</div>


<% include partials/footer %>