<% include partials/header %>
<% include partials/navbar %>

<div class='container-fluid'>
    <header class='jumbotron'>
        <h1>Homepage</h1>
    </header>
</div>

<div class='row'>
    <div class='col orange'> <!-- This will contain the leaderboard feed -->
        COLLUM 1
    </div>
    <div class='col-6 red'> <!-- Main content -->
        COLLUM 2
    </div>
    <div class='col orange'>
        COLLUM 3
    </div>
</div>


<% include partials/footer %>