<% include partials/header %>

<div class='container-fluid'>
    <div class='jumbotron'>
        <h1 class='h1-responsive'>Homepage</h1>
        <p class='lead'>
            Welcome to the RGSW House Homepage
        </p>
        <hr class='my-3'>
        <p>
            Curabitur ut pulvinar libero. Duis vel tempor mi, eget commodo eros. Morbi sollicitudin id nulla ac egestas. Aenean luctus sit amet justo eu elementum. Vestibulum ut lectus iaculis, ullamcorper neque pretium, pellentesque nulla. Nulla sed posuere diam. Integer sodales sem feugiat, scelerisque mi id, imperdiet ligula. Vivamus venenatis, sem condimentum pulvinar hendrerit, mi justo porta est, in auctor purus risus ut metus.
        </p>
    </div>

    <main class='container-fluid'>
        <div class='row'>
            
        </div>
    </main>
</div>
<% include partials/footer %>