<% include partials/header %>

<!--
This is a simple landing page, and it is where the home route redirects too, it uses basic
Bootstrap classes such as bootstrap to create a basic landing page which will contain a
paragraph of information relating to the house system.
-->

<div class='container-fluid'>
    <div class='jumbotron'>
        <!--
        Again the h1-responsive typography class is used to ensure that when the page is resized that the h1 scaling
        is maintaned.
        -->
        <h1 class='h1-responsive'>Homepage</h1>
        <p class='lead'>
            Welcome to the RGSW House Homepage
        </p>
        <hr class='my-3'>
        <!-- The paragraph of information would be included in here, for now it is filled with lorem ipsum to placehold -->
        <p>
            Curabitur ut pulvinar libero. Duis vel tempor mi, eget commodo eros. Morbi sollicitudin id nulla ac egestas. Aenean luctus sit amet justo eu elementum. Vestibulum ut lectus iaculis, ullamcorper neque pretium, pellentesque nulla. Nulla sed posuere diam. Integer sodales sem feugiat, scelerisque mi id, imperdiet ligula. Vivamus venenatis, sem condimentum pulvinar hendrerit, mi justo porta est, in auctor purus risus ut metus.
        </p>
    </div>

</div>
<% include partials/footer %>
