<!--
@Author: Thomas Meeson <thomas>
@Date:   05-04-2019
@Last modified by:   thomas
@Last modified time: 05-04-2019
@License: Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
@Copyright: Copyright(c) 2019 Thomas Meeson
-->


<% include partials/header %>

<!--
This is a simple landing page, and it is where the home route redirects too, it uses basic
Bootstrap classes such as bootstrap to create a basic landing page which will contain a
paragraph of information relating to the house system.
-->

<div class='container-fluid'>
    <div class='jumbotron'>
        <!--
        Again the h1-responsive typography class is used to ensure that when the page is resized that the h1 scaling
        is maintaned.
        -->
        <h1 class='h1-responsive'>Homepage</h1>
        <p class='lead'>
            Welcome to the RGSW House Homepage
        </p>
        <hr class='my-3'>
        <!-- The paragraph of information would be included in here, for now it is filled with lorem ipsum to placehold -->
        <p>
            Curabitur ut pulvinar libero. Duis vel tempor mi, eget commodo eros. Morbi sollicitudin id nulla ac egestas. Aenean luctus sit amet justo eu elementum. Vestibulum ut lectus iaculis, ullamcorper neque pretium, pellentesque nulla. Nulla sed posuere diam. Integer sodales sem feugiat, scelerisque mi id, imperdiet ligula. Vivamus venenatis, sem condimentum pulvinar hendrerit, mi justo porta est, in auctor purus risus ut metus.
        </p>
    </div>

</div>
<% include partials/footer %>
