<% include ./partials/header %>
<!--
The login form is a simple form within a container that submits a POST request to the route /login
It contains 2 field's, username and password, and a button that submits the form.

It again uses Bootstrap classes to style certain aspects, for example, a typography class is used to
centralise the h1, and a form class is used to group the labels and inputs for the form.
-->
<div class='container'>
    <h1 class='text-center'>Login</h1>

    <!--
    This form sends a POST request to the /login route
    -->
    <form action='/login' method='POST'>

        <div class="form-group">
            <label for="username">Username</label>
            <input type='text' placeholder='Username' name='username' required class='form-control'>
        </div>

        <div class="form-group">
            <label for="Password">Password</label>

            <input type='password' placeholder='Password' name='password' required class='form-control'>
        </div>

        <input type='submit' value='Login' class='btn btn-lg btn-success'>

    </form>

</div>
<% include ./partials/footer %>
