<% include partials/header %>
<% include partials/navbar %>

<div class='container-fluid paddingFix'>
    
    <form>
        <h2 class='h2-responsive'>Add new event</h2>
        <div id='datepicker'>Datepicker</div>
    </form>
    
    

</div>

<% include partials/footer %>