<% include partials/header %>
<% include partials/navbar %>


<div class='container-fluid mt-2'>
    <form action='/events' method='POST' id='newEventForm'>
        <div class='md-form mb-5'>
            <input type='text' id='evtName' name='name' class='form-control'>
            <label for='evtName'>New Event Name</label>
        </div>
        
        <div class='md-form mb-5'>
            <input type='text' id='evtDate' name='date' class='form-control' placeholder='DD/MM/YYYY'>
            <label for='evtDate'>Event Date</label>
        </div>
        
        <div class='md-form mb-5'>
            <input type="number" id="evtNumPlayers" name='maxPlayers' class="form-control">
            <label for="evtNumPlayers">Event Maximum Players</label>
        </div>
        
        <div class='md-form mb-5'>
            <input type="number" id="evtMaxPoints" name='maxPoints' class="form-control">
            <label for="evtMaxPoints">Event Maximum Available Points</label>
        </div>
        
        <!--<div class='md-form'>-->
        <!--    <div class="custom-control custom-radio custom-control-inline">-->
        <!--        <input type="radio" class="form-control custom-control-input" id="male" name="evtGender">-->
        <!--        <label class="custom-control-label" for="male">Male</label>-->
        <!--    </div>-->
            
        <!--    <div class='custom-control custom-radio custom-control-inline'>-->
        <!--        <input type='radio' class='form-control custom-control-input' id='female' name='evtGender'>-->
        <!--        <label class='custom-control-label' for='female'>Female</label>-->
        <!--    </div>-->
        <!--    <div class='custom-control custom-radio custom-control-inline'>-->
        <!--        <input type='radio' class='form-control custom-control-input' id='mixed' name='evtGender'>-->
        <!--        <label class='custom-control-label' for='mixed'>Mixed</label>-->
        <!--    </div>-->
        <!--</div>-->
        
        <button type='submit'>Submit</button>
    </form>
    

</div>

<% include partials/footer %>