<% include partials/header %>
<% include partials/navbar %>


<div class='container-fluid mt-2'>
    
    <!--<h2 class='h2-responsive'>Add new event</h2>-->
    
    <!--<form class='text-center'>-->
        
    <!--    <div class='newEventName md-form form-lg'>-->
    <!--        <input type='text' id='eventName' class='form-control form-control-lg'>-->
    <!--        <label for='eventName'>Event Name</label>-->
    <!--    </div>-->
        
    <!--    <br>-->
        
    <!--    <div class='newEventMaxPointsNum md-form form-lg'>-->
    <!--        <input type='number' class='form-control form-control-lg' id='maxPoints'>-->
    <!--        <label for='maxPoints'>Enter maximum available points</label>-->
    <!--    </div>-->
        
        
    <!--</form>-->
    
    <div class='card'>
        <h5 class="card-header info-color white-text text-center py-4">
            <strong>Contact us</strong>
        </h5>
    </div>
    
    
    

    
</div>




<% include partials/footer %>