<% include ./partials/header %>

<h1>Register</h1>

<form action='/register' method='POST'>

    <div class="form-group">
        <label for="username">Username</label>
        <input type='text' placeholder='Username' name='username' required class='form-control'>
    </div>

    <div class="form-group">
        <label for="password">Password</label>
        <input type='password' placeholder='Password' name='password' required>
    </div>

    <div class="form-group">
        <label for="signupCode">Signup Code (required)</label>
        <input type='text' placeholder='Creation Code' name='adminCode'>
    </div>

    <input type='submit' value='Register'>

</form>

<% include ./partials/footer %>
