<!--
@Author: Thomas Meeson <thomas>
@Date:   05-04-2019
@Last modified by:   thomas
@Last modified time: 05-04-2019
@License: Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
@Copyright: Copyright(c) 2019 Thomas Meeson
-->


<% include ./partials/header %>

<!--
This form follows the same format as the login form, however it contains an extra field
that takes the loginToken the user provides and submits it, this is then handled by the
backend code to check if the user has permission to create an account.
-->

<div class='container'>
    <h1 class='text-center'>Register</h1>

    <!-- This form submits a POST request to the /register route -->
    <form action='/register' method='POST'>

        <div class="form-group">
            <label for="username">Username</label>
            <input type='text' placeholder='Username' name='username' required class='form-control'>
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type='password' placeholder='Password' name='password' required class='form-control'>
        </div>

        <div class="form-group">
            <label for="loginToken">Login Token</label>
            <input type='text' placeholder='Login Token' name='loginToken' required class='form-control'>
        </div>

        <input type='submit' class='btn btn-lg btn-success' value='Register'>

    </form>
</div>
<% include ./partials/footer %>
