<% include ../partials/header %>

<div class='container-fluid'>
    <div class='jumbotron'>
        <h1 class='h1-responsive'>Incorrect Details</h1>
        <p class='lead'>You entered the wrong password or username.</p>
        <hr class='my-3'>
        <a class='btn btn-lg btn-primary btn-custom' href='/login'>Return to login</a>
    </div>
</div>

<% include ../partials/footer %>
