<% include ../partials/header %>

<div class='container-fluid'>
    <div class='jumbotron'>
        <h1 class='h1-responsive'>Incorrect Token</h1>
        <p class='lead'>You do not have permission to create an account.</p>
        <hr class='my-3'>
        <a class='btn btn-lg btn-primary btn-custom' href='/home'>Return to homepage</a>
    </div>
</div>

<% include ../partials/footer %>
