<% include ../partials/header %>

<div class="container-fluid">
    <div class="jumbotron">
        <h1 class='h1-responsive'>Authentication Error</h1>
        <p class='lead'>You are not logged in!</p>
        <hr class='my-3'>

        <!-- <a class='btn btn-lg btn-primary btn-custom' href='/home'>Return to homepage</a> -->
        <a class='btn btn-lg btn-primary btn-custom' href='/login'>Login</a>
    </div>
</div>

<% include ../partials/footer %>
