body {
    padding-top: 70px;
}

.mainFrame {
    color: white;
    background-color: red;
}

.sideFrame {
    background-color: orange;
    color: white;
    /*border-radius: 10px;*/
    height: 300px;
}

.mainFrame, .sideFrame {
    display: block;
    padding: 20px 0;
}

footer {
    position: fixed;
    /*height: 100px;*/
    bottom: 0;
    width: 100%;
}

#newEventBtn {
    /*TODO - add the rest of the new event btn lineup */
}

.paddingFix {
    padding-top: 10px;
}