body {
    padding-top: 70px;
}

.mainFrame {
    color: white;
    background-color: red;
}

.sideFrame {
    background-color: orange;
    color: white;
    /*border-radius: 10px;*/
    height: 300px;
}

.mainFrame, .sideFrame {
    display: block;
    padding: 20px 0;
}

footer {
    position: fixed;
    /*height: 100px;*/
    bottom: 0;
    width: 100%;
}

#newEventBtn {
    position: fixed;
    bottom: 40px;
    right: 20px;
}

#modalActivate {
    border-radius: 10px !important;
}

.paddingFix {
    padding-top: 10px;
}

#nav-positions, #nav-scores {
    padding: 10px;
}

.leaderboard-item {
    font-size: 20px;
}

#first-place{
    font-size: 45px;
}

#second-place{
    font-size: 30px;
}

#third-place {
    font-size: 25px;
}